<div class="container">
    <div class="top">
        <div class="logo">NETREEL</div>
        <button type="button" class="btn btn-success sign-in"(click)="signIn()">Sign In</button>
    </div>
    <div class="center">
        <!-- <img src="../../assets/mark.png" alt="mark"> -->
        <p>STEP 1 OF 3</p>
        <h4>Choose your plan</h4>
        <p>No commitments, cancel everytime</p>
        <p>Everything on NetReel for one low price</p>
        <button class="btn btn-success btn-lg">SEE THE PLANS</button>
    </div>
</div>